{% extends 'base.html_' %}


{% block content %}

        <!-- SERVICES -->
        <section id="services">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-8 col-lg-offset-2">
                    	<h1 class="uppercase">About</h1>
                        <p class="subhead">Advances in technology together with new scientific insights on collaboration and decision-making provide for a unique opportunity to redesign our democratic and civic institutions and, indeed, the very notion of citizenship in our democracy. Despite a flourishing of civic innovation, civic tech, open government and open data -- innovative uses of technology to enable citizens and institutions to tackle society’s biggest problems together -- we know too little about what kinds of innovation work, when, why, and under what conditions. Efforts to study new ways to solve public problems has been hampered by the lack of interaction and coordination across traditional disciplinary boundaries and between activists and academics. The Research Repository seeks to curate and help design research on solving public problems differently.
                        </p>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}